<%= form_for([@episode.podcast, @episode]) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tr>
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_field :description %></td>
      </tr>
      <tr>
        <td><%= f.label :show_notes %></td>
        <td><%= f.text_area :show_notes %></td>
      </tr>
      <tr>
        <td><%= f.label :audio %></td>
        <td><%= f.file_field :audio %></td>
      </tr>

    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
